.style {
	margin: 0 10% 0 10%;
}

.row {
	margin-top: 20px;
}

.col1 {
	text-align: center;
	background-color: #ee6e73;
	height: 64px;
	padding-top: 20px;
	border-radius: 5px;
}

.link {
	padding-top: 20px;
	color: white;
}

@media (max-width: 350px) {
	.col1 {
		height: 56px;
		width: 50px;
		text-align: center;
		background-color: #ee6e73;
		padding-top: 20px;
		border-radius: 5px;
	}

	.col11 {
		max-width: 200px;
	}
}